
body {
  font-family: "UnifrakturCook", serif;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 5px;
  color: #007dff;
}

.bingo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
  max-width: 1000px;
  margin: 5px auto;
  padding: 10px;
}

.square {
	font-family: "Montserrat", sans-serif;
	font-size: 0.6em;
  background-color: black;
  border: 1px solid white;
  padding: 20px;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-wrap: break-word;
}

.square.checked {
  background-color: #4caf50;
  color: white;
  text-decoration: line-through;
}

#resetButton {
  font-family: "Montserrat", sans-serif;
  padding: 0.5em;
  margin-bottom: 2em;
}
